ll="-alh --classify --color=auto --group-directories-first"

alias psx="ps -ef | grep -i $1"
alias ports="netstat -altu -np"
alias top="htop"
alias m="micro"

case $OS in
    Linux)
        alias ll="ls $ll"
        alias clip="xclip -sel clip"
        alias gitx="gitg"
        ;;
    Darwin)
        alias ll="gls $ll"
        alias clip="pbcopy"
        alias gitg="gitx"
        ;;
esac
