OS=$(uname)

# Path variable
PATH=/Developer/usr/bin:$PATH
PATH=/opt/local/bin:/opt/local/sbin:$PATH
PATH=/usr/local/bin:/usr/local/sbin:$PATH
PATH=$HOME/bin:$PATH
export PATH

# Man variable
MANPATH=/opt/local/share/man:$MANPATH
export MANPATH

# Java classpath
CLASSPATH=$HOME/Library/Java/:$CLASSPATH
export CLASSPATH

# Locale
export LANGUAGE=en_US:en_AU:en_GB:en
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LC_MESSAGES=POSIX
export LC_NUMERIC=POSIX

# Shell history
export HISTCONTROL=ignoreboth
export HISTIGNORE="&:[bf]g:exit"
export HISTFILE=$HOME/.history
export HISTSIZE=1000
export SAVEHIST=$HISTSIZE

# Terminal colors
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

# Editor
export EDITOR="vim"

# Grep colors
export GREP_OPTIONS="--color=auto"
# export GREP_COLORS='1;32'

# Pager
export PAGER="less"
export LESS="-F -g -i -M -R -S -w -X -z-4"

# SSH
if [ "${OS}" = "Darwin" ] ; then
    ssh-add -K $HOME/.ssh/id_ed25519

    if [ -z "$SSH_AUTH_SOCK" ] ; then
        export SSH_AUTH_SOCK=$(ls -t /tmp/com.apple.launchd.*/Listeners | head -1)
    fi
fi

# GPG
export GPG_TTY=$(tty)

# Development
JAVA_VERSION="1.8"
export JAVA_HOME=$(/usr/libexec/java_home -v $JAVA_VERSION)
export GRADLE_HOME="$HOME/Developer/gradle"
export M2_HOME="$HOME/Developer/maven"
export M2="$M2_HOME/bin"
