[user]
	name = Eugene Janusov
	email = esycat@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	eol = lf
[github]
	user = esycat
#	token =
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick -x
	mt = mergetool
	dt = difftool
	la = log --graph --decorate --oneline
	rv = log -p -w --no-merges -5
	ec = config --edit --global
	undo = reset --mixed HEAD~1
	amend = commit --all --amend
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
[log]
	date = local
	abbrevCommit = true
[push]
	default = upstream
[diff]
	tool = araxis # kdiff3 for Linux
[merge]
	tool = araxis # kdiff3 for Linux
[sendemail]
	smtpserver = smtp.gmail.com
