[user]
	name = Eugene Janusov
	email = esycat@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	eol = lf
	pager = diff-so-fancy | less --tabs=4 -RFX
[github]
	user = esycat
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick -x
	mt = mergetool
	dt = difftool
	la = log --graph --decorate --oneline
	fp = push --force-with-lease
	undo = reset --mixed HEAD~1
	amend = commit --amend --no-edit
	patch = !git --no-pager diff --no-color
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	last = for-each-ref --sort='-authordate:iso' --format=' %(color:green)%(authordate:iso)%09%(color:white)%(refname:short)' refs/remotes
[log]
	date = local
	abbrevCommit = true
[push]
	default = upstream
[diff]
	tool = icdiff
	compactionHeuristic = true
[merge]
	tool = ksdiff
[difftool]
	prompt = off
[difftool "icdiff"]
	cmd = icdiff \"$LOCAL\" \"$REMOTE\"
[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "ksdiff"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[sendemail]
	smtpserver = smtp.gmail.com

[giggle]
	main-window-maximized = false
	main-window-geometry = 981x722+358+223
	history-view-vpane-position = 527
	main-window-view = FileView
	file-view-vpane-position = 347
[gpg]
	program = gpg
[submodule]
	fetchJobs = 4
[interactive]
	diffFilter = diff-so-fancy

