alias ll="ls -ahl --color=auto"

# For Gentoo
if [ `uname -s` = "gentoo" ] ; then
  alias ls="ls -ahlo --author --color=always --group-directories-first"
fi

# For Mac OS X
if [ `uname -s` = "Darwin" ] ; then
  alias mysqlstart="sudo /opt/local/share/mysql5/mysql/mysql.server start"
  alias mysqlstop="sudo /opt/local/share/mysql5/mysql/mysql.server stop"
fi
