OS=$(uname)

ll="-ahl --color=auto --group-directories-first"

alias psx="ps -ef | grep $1"
alias ports="netstat -altu -np"
alias top="htop"

case $OS in
    Linux)
        alias ll="ls $ll"
        alias clip="xclip -sel clip"
        ;;
    Darwin)
        alias ll="gls $ll"
        alias clip="pbcopy"
        ;;
esac
