[submodule "chef/cookbooks/php"]
	path = chef/cookbooks/php
	url = https://github.com/opscode-cookbooks/php
	branch = master
[submodule "chef/cookbooks/postfix"]
	path = chef/cookbooks/postfix
	url = https://github.com/opscode-cookbooks/postfix
	branch = master
[submodule "chef/cookbooks/glassfish"]
	path = chef/cookbooks/glassfish
	url = https://github.com/realityforge/chef-glassfish
	branch = master
[submodule "chef/cookbooks/java"]
	path = chef/cookbooks/java
	url = https://github.com/opscode-cookbooks/java
	branch = master
[submodule "chef/cookbooks/authbind"]
	path = chef/cookbooks/authbind
	url = https://github.com/realityforge/chef-authbind
	branch = master
[submodule "chef/cookbooks/cutlery"]
	path = chef/cookbooks/cutlery
	url = https://github.com/realityforge/chef-cutlery
	branch = master
[submodule "chef/cookbooks/windows"]
	path = chef/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows
	branch = master
[submodule "chef/cookbooks/chef_handler"]
	path = chef/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
	branch = master
[submodule "chef/cookbooks/gradle"]
	path = chef/cookbooks/gradle
	url = https://github.com/michaelklishin/gradle-chef-cookbook
	branch = master
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
	branch = master
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
	branch = master
[submodule "chef/cookbooks/mysql"]
	path = chef/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
	branch = master
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
	branch = master
[submodule "chef/cookbooks/xml"]
	path = chef/cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml
	branch = master
[submodule "chef/cookbooks/rethinkdb"]
	path = chef/cookbooks/rethinkdb
	url = https://github.com/esycat/chef-rethinkdb-cookbook.git
	branch = master
[submodule "chef/cookbooks/aws"]
	path = chef/cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
	branch = master
[submodule "chef/cookbooks/partial_search"]
	path = chef/cookbooks/partial_search
	url = https://github.com/opscode-cookbooks/partial_search.git
	branch = master
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
	branch = master
[submodule "chef/cookbooks/homebrew"]
	path = chef/cookbooks/homebrew
	url = https://github.com/opscode-cookbooks/homebrew.git
	branch = master
[submodule "chef/cookbooks/iis"]
	path = chef/cookbooks/iis
	url = https://github.com/opscode-cookbooks/iis.git
	branch = master
[submodule "chef/cookbooks/yum-epel"]
	path = chef/cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
	branch = master
[submodule "chef/cookbooks/yum"]
	path = chef/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
	branch = master
[submodule "chef/cookbooks/hostsfile"]
	path = chef/cookbooks/hostsfile
	url = https://github.com/customink-webops/hostsfile
	branch = master
[submodule "chef/cookbooks/gsettings"]
	path = chef/cookbooks/gsettings
	url = https://github.com/MarkRoddy/chef-gsettings.git
	branch = master
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = https://github.com/redguide/nodejs.git
	branch = master
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark
	branch = master
[submodule "chef/cookbooks/7-zip"]
	path = chef/cookbooks/7-zip
	url = http://github.com/opscode-cookbooks/7-zip
	branch = master
[submodule "aufs"]
	path = chef/cookbooks/aufs
	url = https://github.com/bflad/chef-aufs.git
[submodule "docker"]
	path = chef/cookbooks/docker
	url = https://github.com/bflad/chef-docker.git
[submodule "device-mapper"]
	path = chef/cookbooks/device-mapper
	url = https://github.com/bflad/chef-device-mapper.git
[submodule "chef-kernel-modules"]
	path = chef/cookbooks/modules
	url = https://github.com/Youscribe/modules-cookbook.git
[submodule "chef-git"]
	path = chef/cookbooks/git
	url = https://github.com/jssjr/git.git
